---
title: About - Whiskey Shivers
meta: About Whiskey Shivers, the band, upcoming role as "Saddle Up" in Pitch Perfect 3 
---

<div class="row">
  <div class="two-thirds flush-left">
  <h2>About</h2>
  <%= image_tag "press.jpg" %>
    <p>      A diverse group of masterfully talented musicians who stand out like a sore thumb from the traditional bluegrass world, Whiskey Shivers have made a name for themselves with a genre-pushing sound that theWashington Postcalled "apocalyptic Americana" andNPRdescribed as "frenetic bluegrass" with a "punk spirit.</p>
      
    <p>      "On 'Some Part of Something,' their fifth album and "strongest" (Austin Chronicle) release yet, Whiskey Shivers hit their stride, refining their unique sound in the studio while still capturing the infectiously chaotic feeling of their live shows.</p>
      
    <p>      Whiskey Shivers shows are always a sight to behold. Barefoot, sleeveless and sweaty, frontman and fiddle master Bobby Fitzgerald never stops smiling on stage. "All right! Let’s kick this thing in the face!” he barks, as the band tears into their stringed instruments at breakneck speed.</p>
      
    <p>      It's almost impossible to watch him perform more than a song or two without cracking a smile yourself. His exuberance is contagious, and it bleeds through into the music. Whether they're playing at a backyard house party, a punk-rock dive bar or a sprawling music festival, crowds take notice. People put down their phones, pick up their drinks and start dancing.</p>
      
    <p>      “Whiskey Shivers isn't just the five of us on stage, it’s everybody in the room," Fitzgerald says. "We try to bring everybody into the moment and get them to realize there's no wall between us and the crowd. We're all in this together, and we're all here to have a good time. We'lldo our best to facilitate it, but it takes all of us to make it happen. When you start to feel that, you can't help but feel a little attachment and become invested in the show. You realize, 'Oh, I'm here to have good time too!’”</p>
      
    <p>      The band members also landed a role in the upcoming film 'Pitch Perfect 3', which hits theaters in December. Plot details have not yet been released, but the band appears in both acting and musical roles alongside a returning cast that includes Anna Kendrick, Hailee Steinfeld and Rebel Wilson.</p>
      
    <p>      It might sound strange for a bluegrass band, but the big screen is the perfect place for Whiskey Shivers, who have always followed their own untraditional path to success. An eclectic, charismatic gang of characters, they had their first major breakout when their horror-movie influenced music video went viral after ending up on the top of Reddit's front page. Since then, they've been featured onThe Daily Show,Anthony Bourdain's 'No Reservations'and on NBC’s post-apocalyptic drama'Revolution.'</p>
      
    <p>      Despite their joyful demeanor, the guys in Whiskey Shivers aren't pretending that life is always easy. Far from it, Fitzgerald explains. Their songs are often heavy with traditional bluegrass themes and imagery lamenting universal struggles -work,pain, sin, regret and death.</p>
      
    <p>      It's in the contrast where Whiskey Shivers' music shines. They infuse their songs with punk rock energy and a darkly comical light-heartedness, stretching the bluegrass genre to fit whatever they feel is right. For them, being happy is a conscious choice, and making fun of life's struggles is part of their philosophy.</p>
      
    <p>      "We're all going through shit all the time. We recognize that life's tough," Fitzgerald says. "We try to write songs that recognize the hard times that we all share. When you put your problems out on the table where everyone can see them, it doesn't really have the same power over you any more, and you can start to acknowledge it, separate yourself from it, and go on with your life. Try to take a night where you can forget about your problems and just feel good, have a good time with your friends, make new friends, and be part of a little community for a while.</p>
      
    <p>      "That sort of musical honesty is what brought together the ragtag group of string players from small towns around the country to Austin, TX, where Whiskey Shivers was formed when stand-up bassist Andrew VanVoorhees answered a dubious Craigslist ad from a man named "Bob" looking to form a bluegrass band.</p>
      
    <p>      The full lineup now consists of Bobby Fitzgerald (vocals, fiddle) from Dundee, NY, Andrew VanVoorhees (bass, vocals) from Prineville, OR, James Gwyn from Meridian, MS (washboards), Jeff “Horti” Hortillosa (vocals, guitar) from Middlesboro, KY, and James Bookert (banjo) from Georgetown, TX.</p>
      
    <p>      Fitzgerald admits that it can sometimes seem impossible to maintain such a high level of energy night after night on the road. “Well, it can seem that way, up until the moment the show starts,” he says. “We could have a really tough day, driving through bad weather on no sleep, feeling like shit, the sound is terrible, or whatever else is going on that day. And then as soon as we start playing, it all just kind of falls away. All of the sudden we’re having a good time again, and the momentum carries itself. That's why we're doing this, because we love it.”</p>
    
  <%= image_tag "press2.jpg" %>
  </div>
  <div class="one-third flush-right">
    <h2>Press</h2>
    <div class="textwidget"><p><em> "Austin's Whiskey Shivers are bluegrass-fueled Americana for a generation that grew up listening to punk rock. This group of 20somethings plays banjos, fiddles and washboards at breakneck speeds while singing high, lonesome harmonies about love and video games." - <strong>Washington Post</strong></em></p>
    <p><em>"Austin-based bluegrass rock band the Whiskey Shivers, forced Ashton Kutcher into a hug.... Whiskey Shiver's - incredible show" -<strong> L.A Weekly</strong></em></p>

    <p><em>"Chops away at traditional bluegrass constraints with a mischievous cleaver, mixing in shadows of Delta swamps and New Orleans basements... the fierce inertia of Old Crow Medicine Show, the ramshackle folk punch of Felice Brothers and the punk energy of a pre-sobriety Deer Tick." - <strong>Rolling Stone&nbsp;</strong></em></p>
    <div>&nbsp;</div>
    <p><em>"They've been killing it in Austin for a few years now. They have that spirit of busking, that punk spirit of 'let's lay it on the line, let's play our instruments hard and messy and just have a great time.'" - <strong>Ann Powers, NPR World Café</strong></em></p>
    <div>&nbsp;</div>
    <p><em>"Rich, layered music with heavy themes" - <strong>Paste</strong></em></p>
    <div>&nbsp;</div>
    <p><em>"A bluegrass record you can mosh to." - <strong>The Bluegrass Situation</strong></em></p>
    <div>&nbsp;</div>
    <p><em>"Whiskey Shivers revive the joyful essence of a community barn dance [with an] anything-goes philosophy." - <strong>CMT Edge</strong></em></p>
    <div>&nbsp;</div>
    <p><em>"Infectious...this album doesn’t just capture what the Whiskey Shivers do live, it elevates it.&nbsp;- <strong>Saving Country Music</strong></em></div></p>
  </div>
</div>
