---
title: Contact - Whiskey Shivers
meta: Booking and management contact information for Whiskey Shivers
---

<div class="row">
  <div class="two-thirds flush-left">
    <br>
		<h5>MANAGEMENT</h5>
    <p>PAT CASSIDY | <a href="http://www.cleanbillmusic.com"><em>CLEAN BILL MANAGEMENT</em></a><br>
    pat@cleanbillmusic.com | 703.217.0858</p>
    <p>RYLAN KETURI | <a href="http://www.cleanbillmusic.com"><em>CLEAN BILL MANAGEMENT</em></a><br>
    rylan@cleanbillmusic.com | 309.241.5008</p>
    <br>
    <h5>BOOKING</h5>
    <p>PATRICK MAY&nbsp;| <a href="http://crossovertouring.com/"><em>CROSSOVER TOURING</em></a><br>
    patmay@crossovertouring.com (404)793-7023 x105</p>
    <br>
    <h5>PUBLICITY</h5>
    <p>TYLER CANNON | <a href="http://www.tcannonmedia.com/"><em>T. CANNON MEDIA</em></a><br>
    tyler@tcannonmedia.com</p>
    <br>
    <h5>BAND</h5>
    <p>band@whiskeyshivers.com</p>
  </div>
</div>
