---
title: Whiskey Shivers | Watch Whiskey Shivers as &quot;Saddle Up&quot; in Pitch Perfect 3
meta: Check us out as &quot;Saddle Up&quot; in Pitch Perfect 3 - In theaters December 22nd.
---
<section class="row">
    <h1 class="centered">Check us out as &quot;Saddle Up&quot; in Pitch Perfect 3</h1>
    <br />
    <div class="one-third">
        <p>“WHISKEY SHIVERS are actually 
friends of mine, and I truly 
just emailed them one day and 
said, ‘Can you guys please come
be in Pitch Perfect?’ And they 
probably thought I was kidding 
or crazy or delusional or drunk,
but they’re like,‘Sure.’ And so 
here they are. They’re barefoot 
most of the time. They drive
around in a van. They play a 
suitcase for a kick drum. 
This is them. They are down-
home, salt-of-the-earth guys.”
- <em>Trish Sie</em></p>
    </div>
    <div class="one-third">
        <%= tag :img, :src => "images/shivers-p3.jpg", :alt => "Whiskey Shivers as Saddle Up in Pitch Perfect 3" %>
    </div>
    <div class="one-third">
        <p>“The boys in WHISKEY SHIVERS are 
the most talented, sweet, funny 
guys. I feel very blessed that we 
get to work with them. When we 
have downtime, the instruments 
are always set up for a lot of 
our scenes, so I’d go and try to 
learn how to play drums. It’s 
very collaborative, and it’s fun 
to work with very gifted 
musicians who also just seem to 
be able to lend themselves to 
acting so naturally.”
- <em>Ruby Rose</em></p>
    </div>
</section>
<section class="video-hero hidden-sm">
  <iframe src="//www.youtube.com/embed/aVW8ABxPNLk?autoplay=0&controls=0&showinfo=0" width="560" height="220" frameborder="0" allowfullscreen></iframe>
</section>

<section class="one-up centered row hidden-lg" id="top-tour">
</section>
<section class="one-up centered">
  <h2 style="font-size:130%;">Some Part of Something out now!</h2>
  <a href="http://www.pledgemusic.com/projects/whiskeyshivers"><%= tag :img, :src => "images/album.jpg" %></a>
  <br style="clear:both;">
  <a href="http://apple.co/2u7nHv0" target="_blank" class="btn">iTunes</a>
  <a href="https://whiskeyshivers.myshopify.com/" target="_blank" class="btn">CD / Vinyl</a>

</section>
<section class="row">
  <div class="one-third centered">
    <h2>Web Store</h2>
    <a href="https://whiskeyshivers.myshopify.com/"><%= tag :img, :src => "images/store-opt.png" %></a>
    <a href="https://whiskeyshivers.myshopify.com/" class="btn">Enter Store</a>
  </div>
  <div class="one-third">
    <h2>Stream the new Album</h2>
    <iframe src="https://open.spotify.com/embed/album/2AQQTwC7pzl0p4yDBE1wkb" style="border: 0; width: 100%; height: 380px;" allowfullscreen></iframe>
  </div>
  <div class="one-third centered" id="free-music">
    <script src="//cf.topspin.net/javascripts/topspin_core.js?aId=37414&amp;timestamp=1434399893" type="text/javascript"></script>
    <div align="center">
    <h2 class="topspin-widget topspin-widget-email-for-media hidden-sm">Enter your email for free music</h2>
    <object id="TSWidget241808" data="//cf.topspin.net/widgets/email2/swf/TSEmailMediaWidget.swf?timestamp=1434399893" type="application/x-shockwave-flash" width="300" height="250"><param value="always" name="allowScriptAccess" /><param name="allowfullscreen" value="true" /><param name="quality" value="high" /><param name="movie" value="//cf.topspin.net/widgets/email2/swf/TSEmailMediaWidget.swf?timestamp=1434399893" /><param name="flashvars" value="widget_id=https://cf.topspin.net/api/v1/artist/37414/email_for_media/241808?timestamp=1434399893&amp;theme=black&amp;highlightColor=0x00A1FF" /></object>
    </div>
    <div class="topspin-widget topspin-widget-email-for-media"></div>
  </div>
</section>
<section class="one-up centered row" id="tour-bottom">
  <a class="anchor" id="tour"></a>
  <h2>Upcoming Tour Dates</h2>
  <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="Whiskey Shivers" data-display-local-dates="false" data-display-past-dates="true" data-auto-style="false" data-text-color="#FFFFFF" data-link-color="#E67A00" data-popup-background-color="rgba(0,0,0,0)" data-background-color="rgba(0,0,0,0)" data-display-limit="15" data-link-text-color="#FFFFFF" data-font="inherit"></a>

</section>
