---
title: Whiskey Shivers | Performing as "Saddle Up" in Pitch Perfect 3
meta: Check us out as "Saddle Up" in Pitch Perfect 3 - In theaters December 22nd.
---
<section class="video-hero hidden-sm">
  <iframe src="//www.youtube.com/embed/aVW8ABxPNLk?autoplay=1&controls=0&showinfo=0" width="560" height="220" frameborder="0" allowfullscreen></iframe>
</section>

<section class="one-up centered row hidden-lg" id="top-tour">
</section>
<section class="one-up centered">
  <h2 style="font-size:130%;">Some Part of Something out now!</h2>
  <a href="http://www.pledgemusic.com/projects/whiskeyshivers"><%= tag :img, :src => "images/album.jpg" %></a>
  <br style="clear:both;">
  <a href="http://www.pledgemusic.com/projects/whiskeyshivers" target="_blank" class="btn">Pledge Music</a>
  <a href="http://apple.co/2u7nHv0" target="_blank" class="btn">iTunes</a>
  <a href="https://whiskeyshivers.myshopify.com/" target="_blank" class="btn">CD / Vinyl</a>

</section>
<section class="row">
  <div class="one-third centered">
    <h2>Web Store</h2>
    <a href="https://whiskeyshivers.myshopify.com/"><%= tag :img, :src => "images/store-opt.png" %></a>
    <a href="https://whiskeyshivers.myshopify.com/" class="btn">Enter Store</a>
  </div>
  <div class="one-third">
    <h2>Stream the new Album</h2>
    <iframe src="https://open.spotify.com/embed/album/2AQQTwC7pzl0p4yDBE1wkb" style="border: 0; width: 100%; height: 380px;" allowfullscreen></iframe>
  </div>
  <div class="one-third centered" id="free-music">
    <script src="//cf.topspin.net/javascripts/topspin_core.js?aId=37414&amp;timestamp=1434399893" type="text/javascript"></script>
    <div align="center">
    <h2 class="topspin-widget topspin-widget-email-for-media hidden-sm">Enter your email for free music</h2>
    <object id="TSWidget241808" data="//cf.topspin.net/widgets/email2/swf/TSEmailMediaWidget.swf?timestamp=1434399893" type="application/x-shockwave-flash" width="300" height="250"><param value="always" name="allowScriptAccess" /><param name="allowfullscreen" value="true" /><param name="quality" value="high" /><param name="movie" value="//cf.topspin.net/widgets/email2/swf/TSEmailMediaWidget.swf?timestamp=1434399893" /><param name="flashvars" value="widget_id=https://cf.topspin.net/api/v1/artist/37414/email_for_media/241808?timestamp=1434399893&amp;theme=black&amp;highlightColor=0x00A1FF" /></object>
    </div>
    <div class="topspin-widget topspin-widget-email-for-media"></div>
  </div>
</section>
<section class="one-up centered row" id="tour-bottom">
  <a class="anchor" id="tour"></a>
  <h2>Upcoming Tour Dates</h2>
  <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="Whiskey Shivers" data-display-local-dates="false" data-display-past-dates="true" data-auto-style="false" data-text-color="#FFFFFF" data-link-color="#E67A00" data-popup-background-color="rgba(0,0,0,0)" data-background-color="rgba(0,0,0,0)" data-display-limit="15" data-link-text-color="#FFFFFF" data-font="inherit"></a>

</section>
