---
title: Videya - Whiskey Shivers
meta: Whiskey Shivers music videos
---

<div class="row videos-wrapper">
  <!-- <div class="two-thirds flush-left videos-wrapper"> -->
    <h2>Videya</h2>
    <div><iframe src="//www.youtube.com/embed/YISQKezHGk8?autoplay=0&controls=1&showinfo=1" width="560" height="315" frameborder="0" allowfullscreen></iframe></div>
    <div><iframe src="//www.youtube.com/embed/NXtevTyo1zo?autoplay=0&controls=1&showinfo=1" width="560" height="315" frameborder="0" allowfullscreen></iframe></div>
    <div><iframe src="//www.youtube.com/embed/qOxR3-xSFGA?autoplay=0&controls=1&showinfo=1" width="560" height="315" frameborder="0" allowfullscreen></iframe></div>
    <div><iframe src="///www.youtube.com/embed/JBXrTL3sDM0?autoplay=0&controls=1&showinfo=1" width="560" height="315" frameborder="0" allowfullscreen></iframe></div>
    <div><iframe src="//www.youtube.com/embed/wC6DuckeJUM?autoplay=0&controls=1&showinfo=1" width="560" height="315" frameborder="0" allowfullscreen></iframe></div>
    <div><iframe src="//www.youtube.com/embed/LE5kiB8cg5w?autoplay=0&controls=1&showinfo=1" width="560" height="315" frameborder="0" allowfullscreen></iframe></div>
  <!-- </div> -->
</div>
